.nav-list-item {
    width: 50px;
    transition: width 0.3s, background-color 0.3s; /* Optional: Adds a smooth transition effect */
}

.nav-list-item:hover {
    width: 100px;
}

.nav-list-item:nth-child(1):hover {
    background-color: #D60270; /* First color */
}

.nav-list-item:nth-child(2):hover {
    background-color: #D60270; /* Second color */
}

.nav-list-item:nth-child(3):hover {
    background-color: #9B4F96; /* Third color */
}

.nav-list-item:nth-child(4):hover {
    background-color: #0038A8; /* Fourth color */
}

.nav-list-item:nth-child(5):hover {
    background-color: #0038A8; /* Fifth color */
}
